.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.svgForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.svgForm-button {
  width: 250px;
}

.button-group {
  /* display: flex;
  justify-content: space-evenly; */
  padding: 10px;
}

.button {
  background-color: white;
  color: black;
  font-size: 1rem;
  line-height: 2rem;
  margin: 10px;
}

.btn-green:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-red:hover {
  background-color: darkred;
  color: white;
}

.btn-blue:hover {
  background-color: blue;
  color: white;
}

.bd-green {
  border: 2px solid #4CAF50;
}

.bd-red {
  border: 2px solid rgb(218, 57, 17);
}

.bd-blue {
  border: 2px solid rgb(47, 17, 218);
}